<div class="container">
	<div class="row">
		<div class="span6">
			<div class="well">
				<h1>Andrew Stroup</h1>
				<p>Big Brain Theorist, entrepreneur, maker, strategist, enginerd, cyclist</p>
				<p>I'm your typical Asian farmer, Oklahoma native and East Coast located. I focus my time on solving complex challenges through a multi-discplinary approach and I am always seeking my next big challenge.</p>
				<hr>
				<p>If you have a few moment:
					<ul>
						<li>Watch me compete against some of the brightest minds in the country on The Discovery Channel's The Big Brain Theory: Pure Genius, premiering 1 May;</li>
						<br/>
						<li>Check out CommonKey, your small business password manager, a tech startup I co-found and serve as the CEO; and</li>
						<br/>
						<li>Swing by the Baltimore Foundery, a makerspace co-founded with two others, another Big Brainer and a Baltimore technology leader and instigator</li>
					</ul>
				</p>
				<!-- Add Instagram feed and Twitter -->
				<!-- Affiliations -->
				<!-- <ul class="affiliations">
					<li><img id="commonkey" src="/assets/commonkey-logo-personal.png" /></li>
					<li><img id="tbbt" src="/assets/tbbt.gif" /></li>
					<li><img id="commonkey" src="/assets/foundery.gif" /></li>
				</ul> -->
			</div>
		</div>
		<div class="span1">
		</div>
		<div class="span5">
			<div class="accordion" id="accordion2">
			  <div class="accordion-group">
			    <div class="accordion-heading">
			      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
			        <h3>The Big Brain Theory: Pure Genius</h3>
			      </a>
			    </div>
			    <div id="collapseOne" class="accordion-body collapse">
			      <div class="accordion-inner">
			        <p>The Big Brain Theory: Pure Genius will feature a seemingly impossible engineering challenge to be solved by the contestants each week. Competitors will have just 30 minutes to come up with a solution using their own intellect to complete the challenge. Based on logic and design, the expert panel of judges will determine the best engineering concept and select two captains to lead their team to execute the project. The team with the best design will remain safe, but the losers will face the judges who will determine which member will be eliminated.</p>
			        <p>Check out the full details at <a href="http://dsc.discovery.com/tv-shows/the-big-brain-theory" target="_blank">The Discovery Channel</a></p>
			        <iframe width="560" height="315" src="http://www.youtube.com/embed/agvbKAiYwN4?rel=0" frameborder="0" allowfullscreen></iframe>
			      </div>
			    </div>
			  </div>
			  <div class="accordion-group">
			    <div class="accordion-heading">
			      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
			        <h3>CommonKey <img id="commonkey" src="/assets/cklogoshield-48.png" /></h3>
			      </a>
			    </div>
			    <div id="collapseTwo" class="accordion-body collapse">
			      <div class="accordion-inner">
			        <p>Protect the keys to your company.</p>
			        <p>CommonKey was founded in 2012 to provide a previously unaddressed service to small businesses, password management. A Software as a Service, our goal is to marry enterprise level security with an intuitive interface for small business owners to share their accounts with their team, contractors, and clients.</p>
			        <p>Check us out <a href="http://commonkey.com" target="_blank">here</a> and sign up for our beta</p>

			      </div>
			    </div>
			  </div>
			  <div class="accordion-group">
			    <div class="accordion-heading">
			      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
			        <h3>Baltimore Foundery</h3>
			      </a>
			    </div>
			    <div id="collapseThree" class="accordion-body collapse">
			      <div class="accordion-inner">
			        <p>Providing access to industrial grade tools and education.</p>
			        <p><a href="http://bmorefoundery.com" target="_blank">Baltimore Foundery</a> was founded around the principles of community, education, and innovation. Our goal is to provide makers access to industrial grade tools and education, speaking innovation within the community of Baltimore.
			      </div>
			    </div>
			  </div>
			  <!-- <div class="accordion-group">
			    <div class="accordion-heading">
			      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
			        AIAA Design, Build, Fly
			      </a>
			    </div>
			    <div id="collapseFour" class="accordion-body collapse">
			      <div class="accordion-inner">
			      	<p>
			        Oklahoma State University (Team Black) Chief Engineer in the 2009 American Institute of Aeronautics and Astronautics <a href="http://www.adiaadbf.org">Design, Build, Fly</a> competition. A cooperative team effort (15 members) requiring conceptual platform esign to meet specificed mission criteria, development of manufacutring techniques for rapid prototyping and testing, and the execution of performnace-rated flights against domestic and international teams.</p>
			        <ul>
			        	<li>Finished 1st place out of 54 international teams, <a href="https://www.aiaadbf.org/2009_files/aiaadbf.htm">results</a></li>
			        	<li>Oversaw system conceptual design and construction methodology for rapid prototyping</li>
			        	<li>Verification and validation of subsystems and system (structural modeling and simulation, prototype testing, and avionics optimization and integration)</li>
			        	<li>Test plan development for flight testing and performance evaluation</li>
		        	</ul>
			      </div>
			    </div>
			  </div> -->
			</div>
			<br/>

		</div>
	</div>
</div>

