<div class="container">
	<div class="row">
		<div class="span6">
			<div class="well top">
				<h2 class="visible-desktop">andrew stroup<span class="subtext"><em>(aloop)</em></span></h2>
				<h2 class="hidden-desktop">andrew<br>stroup<span class="subtext"><em>(aloop)</em></span></h2>
				<div id="social-media" class="hidden-desktop">
					<ul>
				    	<li><!-- Twitter -->
				        	<a target="_blank" href="https://twitter.com/stroupaloop" title="Follow @stroupaloop on Twitter"><i class="icon-twitter icon-large"></i></a></li>

				      	<li><!-- LinkedIn -->
				        	<a target="_blank" href="http://www.linkedin.com/pub/andrew-stroup/20/236/317" title="Connect with me on LinkedIn"><i class="icon-linkedin icon-large"></i></a></li>

				      	<li><!-- Email -->
				        	<a target="_blank" href="mailto:stroupaloop@gmail.com" title="Email me"><i class="icon-envelope-alt icon-large"></i></a></li>

				    </ul>
				</div>
				<hr>
				<p>Big Brain Theorist, entrepreneur, maker, strategist, enginerd, cyclist</p>
				
				<p>I'm just your typical Asian farmer, Oklahoma native, East Coast located. I focus my time on solving complex challenges through a multi-discplinary approach and I am always seeking my next big challenge.</p>
			</div>
			<div id="collapseOne" class="my-accord">
		      <div class="accordion-inner">
		      	<div class="row-fluid visible-desktop">
		      		<div class="span5">
		      			<h4 class="right">The Big Brain Theory:<br><em>Pure Genius</em></h4>
		      			<p>Watch me compete against some of the brightest minds in the country on The Discovery Channel's new show <a href="http://dsc.discovery.com/tv-shows/the-big-brain-theory" target="_blank">The Big Brain Theory: Pure Genius</a>, premiering May 1st, right after Mythbusters.</p>
      				</div>
      				<div class="span7">
		       			<a href="#tbbtVideo" role="button" data-toggle="modal"><img id="tbbt" src="/assets/tbbt-video.png" /></a>
	        	
			        	<div class="modal hide fade" id="tbbtVideo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			        	  <div class="modal-body">
			        	    <iframe width="530" class="player" height="360" src="http://www.youtube.com/embed/agvbKAiYwN4?rel=0" frameborder="0" allowfullscreen></iframe>
			        	  </div>
				        </div>
				    </div>
				</div>
				<div class="row-fluid visible-tablet">
					<div class="span12">
						<h4 class="right">The Big Brain Theory:<br><em>Pure Genius</em></h4>
						<a href="http://www.youtube.com/embed/agvbKAiYwN4?rel=0" target="_blank" ><img id="tbbt" src="/assets/tbbt-video.png" /></a>
						<hr>
						<p>Watch me compete against some of the brightest minds in the country on The Discovery Channel's new show <a href="http://dsc.discovery.com/tv-shows/the-big-brain-theory" target="_blank">The Big Brain Theory: Pure Genius</a>, premiering May 1st, right after Mythbusters.</p>
					</div>
				</div>
		      </div>
		    </div>
		    <div id="collapseTwo" class="my-accord">
		      <div class="accordion-inner">
		      	<div class="row-fluid visible-desktop">
		      		<div class="span4">
		      			<br/>
		      			<img id="commonkey" src="/assets/commonkey-logo-mascot-3.png" />
		      		</div>
		      		<div class="span8">
		      			<h4 id="proj" class="right">CommonKey</h4>
				        <p class="right"><strong><em>Protect the keys to your company</em></strong></p>
				        <p>Check out <a href="http://commonkey.com" target="_blank">CommonKey</a>, your small business password manager, a tech startup I co-found and serve as CEO.</p>
				        <p>A Software as a Service, our mission is to deliver enterprise-level security through an intuitive interface so companies can focus on what's most important, their customers.</p>
				        <p>Sign up for our live beta!</p>
				    </div>
				</div>
				<div class="row-fluid visible-tablet">
					<div class="span3">
						<img id="commonkey" src="/assets/commonkey-logo-mascot-3.png" />
					</div>
					<div class="span9">
						<h4 id="proj" class="right">CommonKey</h4>
				        <p class="right"><strong><em>Protect the keys to your company</em></strong></p>
				    </div>
				</div>
				<div class="row-fluid visible-tablet">
					<p>Check out <a href="http://commonkey.com" target="_blank">CommonKey</a>, your small business password manager, a tech startup I co-found and serve as CEO.</p>
			        <p>A Software as a Service, our mission is to deliver enterprise-level security through an intuitive interface so companies can focus on what's most important, their customers.</p>
			        <p>Sign up for our live beta!</p>
			    </div>
		      </div>
		    </div>
		    <div id="collapseThree" class="my-accord">
		      <div class="accordion-inner">
		      	<h4 id="proj" class="right">Baltimore Foundery</h4>
		      	<div class="visible-desktop">
	      			<p class="right"><strong><em>Providing access to industrial grade tools and education</em></strong></p>
		      	</div>
		      	<div class="hidden-desktop">
		        	<p class="right"><strong><em>Providing access to industrial grade<br>tools and education</em></strong></p>
		        </div>
		        <p>Founded around the principles of community, education, and innovation; our goal is to provide makers access to industrial grade tools and education, sparking innovation within the Baltimore community.</p>
		        <p>Swing by <a href="http://bmorefoundery.com" target="_blank">the Foundery</a>, a makerspace I co-founded with another Big Brain Theorist and a Baltimore tech leader and instigator.</p>
		        
		      </div>
		    </div>
		    <div class="visible-phone">
		    	<div class="well bottom">
		    		<h4 class="right">The Big Brain Theory:<br><em>Pure Genius</em></h4>
					<a href="http://www.youtube.com/embed/agvbKAiYwN4?rel=0" target="_blank" ><img id="tbbt" src="/assets/tbbt-video.png" /></a>
					<hr>
					<p>Watch me compete against some of the brightest minds in the country on The Discovery Channel's new show <a href="http://dsc.discovery.com/tv-shows/the-big-brain-theory" target="_blank">The Big Brain Theory: Pure Genius</a>, premiering May 1st, right after Mythbusters.</p>
				</div>
				<div class="well bottom">
					<div>
						<img class="pull-right" id="commonkey-tab" src="/assets/cklogoshield-48.png" />
						<h4 id="proj" class="right">CommonKey</h4>
				        <p class="right"><strong><em>Protect the keys to your company</em></strong></p>
					</div>
					<div>
						
						<p>Check out <a href="http://commonkey.com" target="_blank">CommonKey</a>, your small business password manager, a tech startup I co-found and serve as CEO.</p>
				        <p>A Software as a Service, our mission is to deliver enterprise-level security through an intuitive interface so companies can focus on what's most important, their customers.</p>
				        <p>Sign up for our live beta!</p>
				    </div>
				</div>
				<div class="well bottom">
					<h4 id="proj" class="right">Baltimore Foundery</h4>
			        <p class="right"><strong><em>Providing access to industrial grade<br>tools and education</em></strong></p>
			        <p>Founded around the principles of community, education, and innovation; our goal is to provide makers access to industrial grade tools and education, sparking innovation within the Baltimore community.</p>
			        <p>Swing by <a href="http://bmorefoundery.com" target="_blank">the Foundery</a>, a makerspace I co-founded with another Big Brain Theorist and a Baltimore tech leader and instigator.</p>
				</div>
			</div>



		</div>
		<div class="span6">
			<div class="accordion">
			  <div class="accordion-group">
			    <div class="accordion-heading">
			      <a class="toggle-my-accord" href="#collapseOne">
			      	<div class="visible-desktop">
			        	<h3 class="right">The Big Brain Theory: <em>Pure Genius</em></h3>
		        	</div>
		        	<div class="visible-tablet">
			        	<h3 class="right">The Big Brain Theory:<br><em>Pure Genius</em></h3>
			        </div>
			      </a>
			    </div>
			    
			  </div>
			  <div class="accordion-group">
			    <div class="accordion-heading">
			      <a class="toggle-my-accord" href="#collapseTwo">
			      	<div class="hidden-phone">
			        	<h3 class="right">CommonKey <img id="commonkey" src="/assets/cklogoshield-48.png" /></h3>
			        </div>
			      </a>
			    </div>
			    
			  </div>
			  <div class="accordion-group">
			    <div class="accordion-heading">
			      <a class="toggle-my-accord" href="#collapseThree">
			      	<div class="hidden-phone">
			        	<h3 class="right">Baltimore Foundery</h3>
			        </div>
			      </a>
			    </div>
			    
			  </div>
			</div>

		</div>
	</div>
</div>