<div class="container">
	<div class="row">
		<div class="span6">
			<div class="well">
				<h1>Andrew Stroup</h1>
				<hr>
				<p>Big Brain Theorist, entrepreneur, maker, strategist, enginerd, cyclist</p>
				
				<p>I'm just your typical Asian farmer, Oklahoma native, East Coast located. I focus my time on solving complex challenges through a multi-discplinary approach and I am always seeking my next big challenge.</p>
			</div>
			<div id="collapseOne" class="accordion-body collapse">
		      <div class="accordion-inner">
		      	<p>Watch me compete against some of the brightest minds in the country on The Discovery Channel's new show <a href="http://dsc.discovery.com/tv-shows/the-big-brain-theory" target="_blank">The Big Brain Theory: Pure Genius</a>, premiering 1 May right after Mythbusters.</p>

		        <a href="#tbbtVideo" role="button" data-toggle="modal"><img id="tbbt" src="/assets/tbbt-video.png" /></a>
	        	
	        	<div class="modal hide fade" id="tbbtVideo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	        	  <div class="modal-body">
	        	    <iframe width="530" class="player" height="360" src="http://www.youtube.com/embed/agvbKAiYwN4?rel=0" frameborder="0" allowfullscreen></iframe>
	        	  </div>
		        </div>
		      </div>
		    </div>
		    <div id="collapseTwo" class="accordion-body collapse">
		      <div class="accordion-inner">
		      	
			        <p>Protect the keys to your company.</p>
			        <p>Check out <a href="http://commonkey.com" target="_blank">CommonKey</a>, your small business password manager, a tech startup I co-found and serve as the CEO.</p>
			        <p>While you're at it, sign up for our live beta!</p>
		      </div>
		    </div>
		    <div id="collapseThree" class="accordion-body collapse">
		      <div class="accordion-inner">
		        <p>Providing access to industrial grade tools and education.</p>
		        <p>Founded around the principles of community, education, and innovation; our goal is to provide makers access to industrial grade tools and education, sparking innovation within the Baltimore community.</p>
		        <p>Swing by <a href="http://bmorefoundery.com" target="_blank">the Foundery</a>, a makerspace I co-founded with another Big Brain Theorist and a Baltimore tech leader and instigator.</p>
		        
		      </div>
		    </div>
		</div>
		<div class="span1">
		</div>
		<div class="span5">
			<div class="accordion" id="accordion2">
			  <div class="accordion-group">
			    <div class="accordion-heading">
			      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
			        <h3>The Big Brain Theory:<br>Pure Genius</h3>
			      </a>
			    </div>
			    
			  </div>
			  <div class="accordion-group">
			    <div class="accordion-heading">
			      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
			        <h3>CommonKey <img id="commonkey" src="/assets/cklogoshield-48.png" /></h3>
			      </a>
			    </div>
			    
			  </div>
			  <div class="accordion-group">
			    <div class="accordion-heading">
			      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
			        <h3>Baltimore Foundery</h3>
			      </a>
			    </div>
			    
			  </div>
			</div>

		</div>
	</div>
</div>
<!-- <div id="projects">
	<div class="container">
		<div class="row">
			<div class="span12">
				<h2 class="center">Projects</h2>
			</div>
		</div>
		<div class="row">
			<ul class="thumbnails">
				<li class="span3">
					<a href="#dbfModal" class="thumbnail" role="button" data-toggle="modal">
						<img id="dbf" src="/assets/dbf-flight.gif" />
					</a>
					<div class="modal hide fade" id="dbfModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						<div class="modal-header">
				    	    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				    	    <h4>AIAA Design, Build, Fly Competition (2009) Winner</h4>
				    	</div>
		        	  <div class="modal-body">
		        	    <p>Oklahoma State University (Team Black) chief engineer, leading a team (15 members) requiring conceptual platform design to meet specified mission criteria, development of manufacturing techniques for rapid prototyping and testing, and the execution of performance-rated flgihts against domestic and international teams.</p>
		        	    <ul>
		        	    	<li>Finished 1st place out of 54 international teams,  results <a href="http://www.aiaadbf.org/2009_files/aiaadbf.htm" target="_blank">here</a></li>
		        	    	<li>System conceptual design and oversaw construction methods for rapid prototyping</li>
		        	    	<li>Conducted verification and validation of subsystems and system (structural modeling and simulation, prototype testing, and avionics optimization and integration)</li>
		        	    	<li>Developed test plans and conducted flight testing and performance evaluation</li>
		        	    </ul>
		        	    <br/>
		        	    <p>Watch the OSU Team Black team video <a href="https://vimeo.com/38203714" target="_blank">here</a></p>
		        	  </div>
			        </div>

					<h4>AIAA:<br>Design, Build, Fly</h4>
				</li>
				<li class="span3">
					<a href="#efvModal" class="thumbnail" role="button" data-toggle="modal">
						<img id="efv" src="/assets/EFV.gif" />
					</a>
					<div class="modal hide fade" id="efvModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						<div class="modal-header">
				    	    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				    	    <h4>General Dynamics: Expeditionary Fighting Vehicle</h4>
				    	</div>
		        	  <div class="modal-body">
		        	  	<p>Managed two concurrent project teams, providing fluid power system design consulting and test services.</p>
		        	  	<ul>
		        	  		<li>Performed on-site analysis and DFMEA testing</li>
		        	  		<li>Conducted dynamic modeling and simulation of fluid power sub-systems and systems</li>
		        	  		<li>Designed, constructed, and integrated multiple test platforms to validate and charactize fluid power sub-systems and systems</li>
		        	  		<li>Presented test results and recommendations for system integration and updates</li>
		        	  	</ul>
		        	  	<br/>
		        	  	<p>Learn more about the Expeditionary Fighting Vehicle <a href="http://www.youtube.com/watch?v=l94arUeh1XI" target="_blank">here</a></p>
		        	  </div>
		        	</div>
					<h4>General Dynamics:<br>Expeditionary Fighting Vehicle</h4>
				</li>
				<li class="span3">
					<a href="#caliModal" class="thumbnail" role="button" data-toggle="modal">
						<img id="cali" src="/assets/california-screamin.gif" />
					</a>
					<div class="modal hide fade" id="caliModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						<div class="modal-header">
				    	    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				    	    <h4>Disneyland: California Screamin'</h4>
				    	</div>
		        	  <div class="modal-body">
		        	  	<p>Fluid power consulting project for Disnelyand Resorts</p>
		        	  	<ul>
		        	  		<li>Collaborated with Disney Imagineers on fluid power designa dn test plans, to include: dynamic modeling and simluation, test components, and reporting</li>
		        	  		<li>Conducted on-site system and component testing</li>
		        	  		<li>Prepared and presented engineering analysis, report, and recommendation</li>
		        	  	</ul>
		        	  	<br/>
		        	  	<p>Learn more about the California Screamin' <a href="http://en.wikipedia.org/wiki/California_Screamin'" target="_blank">here</a></p>
		        	  </div>
		        	</div>
					<h4>Disneyland:<br>California Screamin'</h4>


				</li>
				<li class="span3">
					<a href="#dfiModal" class="thumbnail" class="thumbnail" role="button" data-toggle="modal">
						<img id="dfi" src="/assets/dfi.gif" />
						
					</a>
					<div class="modal hide fade" id="dfiModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						<div class="modal-header">
				    	    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				    	    <h4>Disneyland: California Screamin'</h4>
				    	</div>
		        	  <div class="modal-body">
		        	  	<p>Secured a $100k, one year international consulting contract, managing a project team</p>
		        	  	<ul>
		        	  		<li>Performed on-site analysis and review of multiple fluid power systems, designs, and components</li>
		        	  		<li>Developed and oversaw numerous dynamic modeling and simulation projects on sub-systems and systems</li>
		        	  		<li>Prepared and presented engineering analysis, report, and recommendation</li>
		        	  		<li>Implemented fluid power design recommendations and performed follow-on test validation</li>
		        	  	</ul>
		        	  	<br/>
		        	  	<p>Learn more about DFI <a href="http://www.dfi.ca/" target="_blank">here</a></p>
		        	  </div>
		        	</div>
					<h4>DFI:<br>Edmonton, Alberta, CA</h4>
				</li>
			</ul>
		</div>
	</div>
</div>
<div id="recognition">
	<div class="container">
		<div class="row">
			<div class="span12">
				<h2 class="center">Recognition</h2>
			</div>
		</div>
		<div class="row">
			<ul class="thumbnails">
				<li class="span3">
					<a href="#dbfModal" class="thumbnail" role="button" data-toggle="modal">
						<img id="dbf" src="/assets/dbf-flight.gif" />
					</a>
					<div class="modal hide fade" id="dbfModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						<div class="modal-header">
				    	    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				    	    <h4>AIAA Design, Build, Fly Competition (2009) Winner</h4>
				    	</div>
		        	  <div class="modal-body">
		        	    <p>Oklahoma State University (Team Black) chief engineer, leading a team (15 members) requiring conceptual platform design to meet specified mission criteria, development of manufacturing techniques for rapid prototyping and testing, and the execution of performance-rated flgihts against domestic and international teams.</p>
		        	    <ul>
		        	    	<li>Finished 1st place out of 54 international teams,  results <a href="http://www.aiaadbf.org/2009_files/aiaadbf.htm" target="_blank">here</a></li>
		        	    	<li>System conceptual design and oversaw construction methods for rapid prototyping</li>
		        	    	<li>Conducted verification and validation of subsystems and system (structural modeling and simulation, prototype testing, and avionics optimization and integration)</li>
		        	    	<li>Developed test plans and conducted flight testing and performance evaluation</li>
		        	    </ul>
		        	    <br/>
		        	    <p>Watch the OSU Team Black team video <a href="https://vimeo.com/38203714" target="_blank">here</a></p>
		        	  </div>
			        </div>

					<h4>AIAA:<br>Design, Build, Fly</h4>
				</li>
				<li class="span3">
					<a href="#efvModal" class="thumbnail" role="button" data-toggle="modal">
						<img id="efv" src="/assets/EFV.gif" />
					</a>
					<div class="modal hide fade" id="efvModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						<div class="modal-header">
				    	    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				    	    <h4>General Dynamics: Expeditionary Fighting Vehicle</h4>
				    	</div>
		        	  <div class="modal-body">
		        	  	<p>Managed two concurrent project teams, providing fluid power system design consulting and test services.</p>
		        	  	<ul>
		        	  		<li>Performed on-site analysis and DFMEA testing</li>
		        	  		<li>Conducted dynamic modeling and simulation of fluid power sub-systems and systems</li>
		        	  		<li>Designed, constructed, and integrated multiple test platforms to validate and charactize fluid power sub-systems and systems</li>
		        	  		<li>Presented test results and recommendations for system integration and updates</li>
		        	  	</ul>
		        	  	<br/>
		        	  	<p>Learn more about the Expeditionary Fighting Vehicle <a href="http://www.youtube.com/watch?v=l94arUeh1XI" target="_blank">here</a></p>
		        	  </div>
		        	</div>
					<h4>General Dynamics:<br>Expeditionary Fighting Vehicle</h4>
				</li>
				<li class="span3">
					<a href="#caliModal" class="thumbnail" role="button" data-toggle="modal">
						<img id="cali" src="/assets/california-screamin.gif" />
					</a>
					<div class="modal hide fade" id="caliModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						<div class="modal-header">
				    	    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				    	    <h4>Disneyland: California Screamin'</h4>
				    	</div>
		        	  <div class="modal-body">
		        	  	<p>Fluid power consulting project for Disnelyand Resorts</p>
		        	  	<ul>
		        	  		<li>Collaborated with Disney Imagineers on fluid power designa dn test plans, to include: dynamic modeling and simluation, test components, and reporting</li>
		        	  		<li>Conducted on-site system and component testing</li>
		        	  		<li>Prepared and presented engineering analysis, report, and recommendation</li>
		        	  	</ul>
		        	  	<br/>
		        	  	<p>Learn more about the California Screamin' <a href="http://en.wikipedia.org/wiki/California_Screamin'" target="_blank">here</a></p>
		        	  </div>
		        	</div>
					<h4>Disneyland:<br>California Screamin'</h4>


				</li>
				<li class="span3">
					<a href="#dfiModal" class="thumbnail" class="thumbnail" role="button" data-toggle="modal">
						<img id="dfi" src="/assets/dfi.gif" />
						
					</a>
					<div class="modal hide fade" id="dfiModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						<div class="modal-header">
				    	    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				    	    <h4>Disneyland: California Screamin'</h4>
				    	</div>
		        	  <div class="modal-body">
		        	  	<p>Secured a $100k, one year international consulting contract, managing a project team</p>
		        	  	<ul>
		        	  		<li>Performed on-site analysis and review of multiple fluid power systems, designs, and components</li>
		        	  		<li>Developed and oversaw numerous dynamic modeling and simulation projects on sub-systems and systems</li>
		        	  		<li>Prepared and presented engineering analysis, report, and recommendation</li>
		        	  		<li>Implemented fluid power design recommendations and performed follow-on test validation</li>
		        	  	</ul>
		        	  	<br/>
		        	  	<p>Learn more about DFI <a href="http://www.dfi.ca/" target="_blank">here</a></p>
		        	  </div>
		        	</div>
					<h4>DFI:<br>Edmonton, Alberta, CA</h4>
				</li>
			</ul>
		</div>
	</div>
</div> -->
