<div class="container">
	<div class="row">
		<div class="span6">

			<h1>Andrew Stroup</h1>
			<p>Big Brain Theorist, entrepreneur, maker, enginerd, tech geek, cyclist</p>
			<!-- Add Instagram feed and Twitter -->

		</div>
		<div class="span6">
			<div class="accordion" id="accordion2">
			  <div class="accordion-group">
			    <div class="accordion-heading">
			      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
			        AIAA Design, Build, Fly
			      </a>
			    </div>
			    <div id="collapseOne" class="accordion-body collapse in">
			      <div class="accordion-inner">
			        Anim pariatur cliche...tAnim pariatur cliche...tAnim pariatur cliche...tAnim pariatur cliche...tAnim pariatur cliche...tAnim pariatur cliche...tAnim pariatur cliche...tAnim pariatur cliche...tAnim pariatur cliche...tAnim pariatur cliche...tAnim pariatur cliche...tAnim pariatur cliche...tAnim pariatur cliche...tAnim pariatur cliche...tAnim pariatur cliche...tAnim pariatur cliche...tAnim pariatur cliche...tAnim pariatur cliche...tAnim pariatur cliche...tAnim pariatur cliche...tAnim pariatur cliche...tAnim pariatur cliche...tAnim pariatur cliche...tAnim pariatur cliche...tAnim pariatur cliche...tAnim pariatur cliche...tAnim pariatur cliche...tAnim pariatur cliche...tAnim pariatur cliche...tAnim pariatur cliche...tAnim pariatur cliche...tAnim pariatur cliche...tAnim pariatur cliche...tAnim pariatur cliche...tAnim pariatur cliche...t
			      </div>
			    </div>
			  </div>
			  <div class="accordion-group">
			    <div class="accordion-heading">
			      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
			        Collapsible Group Item #2
			      </a>
			    </div>
			    <div id="collapseTwo" class="accordion-body collapse">
			      <div class="accordion-inner">
			        Anim pariatur cliche...
			      </div>
			    </div>
			  </div>
			</div>
		</div>
	</div>
</div>

