<span id="man-resume">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<span class="pull-right">
					<address>
						642 S Decker Ave<br/>
						Baltimore, MD 21224<br/>
						918.691.8755
					</address>
				</span>
				<h1>Andrew Stroup</h1>
				<p><a href="http://stroupaloop.com" target="_blank">stroupaloop.com</a><br/>
					<a href="mailto:andrew.m.stroup@gmail.com">andrew.m.stroup@gmail.com</a>
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<h3 class="text-right">Summary of Qualifications</h3>
				<ul>
					<li>7+ years in management positions, to include leading multiple (and simultaneous) multi-million dollar projects and management of personnel that span both technical and business domains.</li>
					<li>Implementation and practice of agile development processes to facilitate stronger team collaboration and faster, effective products.</li>
					<li>Management and participation in numerous rapid prototyping of products from conception to completion.</li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<h3 class="text-right">Professional Experience</h3>
				<hr/>
				<h4>
					CommonKey <small>Chief Executive Officer and Co-Founder<br/>
						Baltimore, MD | 2012 - present | <a href="http://commonkey.com" target="_blank">commonkey.com</a>
					</small>
				</h4>
				<p>The password manager for growing companies, CommonKey was created to solve a big small business problem. CommonKey provides companies with the ability to securely store login credentials and share access with their team through a secure and intuitive dashboard and browser extension.</p>
				<ul>
					<li>Focus on business development and operations, to include development of company vision, marketing and branding strategies, and customer outreach and support.</li>
					<li>Product management of a team implementing agile software development practices, focused on efficient product development on a rapid iteration release cycle.</li>
				</ul>
				<h4>
					Baltimore Foundery <small>Co-Founder and Instructor<br/>
						Baltimore, MD | 2013 - present | <a href="http://bmorefoundery.com" target="_blank">bmorefoundery.com</a>
					</small>
				</h4>
				<p>A non-profit makerspace focused on providing access to industrial grade tools and education with the goal to enable Baltimore to build more things, collaborate on projects, and help entreprenuers succeed.</p>
				<ul>
					<li>Development of the educational program to provide accessible and affordable skills training.</li>
					<li>Management of the online content, social media marketing, and community outreach.</li>
					<li>Coordination with organizations and businesses to further support the growing maker community.</li>
				</ul>
				<h4>
					Discovery Channel's The Big Brain Theory: Pure Genius <small>Contestant<br/>
						Los Angeles, CA | 2012 - 2013 | <a href="http://dsc.discovery.com/tv-shows/the-big-brain-theory" target="_blank">website</a>
					</small>
				</h4>
				<p>The Big Brain Theory: Pure Genius features seemingly impossible engineering challenges to be solved by the contestants each week. Competitors have just 30 minutes to come up with a solution using their own intellect to complete the challenge, leading their team to execute the project.</p>
				<h4>
					Joint Program Executive Office for Chemical and Biological Defense<br/>
					<small>Medical Acquisition Headquarters Directorate: Chief of S&amp;T and Biosurveillance<br/>
						Aberdeen Proving Ground | 2011 - present | <a href="http://www.jpeocbd.osd.mil/" target="_blank">jpeocbd.osd.mil</a>
					</small>
				</h4>
				<p>Focus on technology transfer and portfolio management of emerging and revolutionary medical countermeasures and diagnostic devices, support to the Presidential White House National Strategy for Biosurveillance, and lead the medical portfolio development of the $7 billion dollar fiscal planning and budget recommendation to Congress.</p>
				<ul>
					<li>Management of a talented and diverse contractor support team ranging from accomplished scientists to experienced business/financial analysts.</li>
					<li>Strategizing and execution of initiatives by senior leadership to support the Chemical and Biological Defense mission, to include engagement with government and political representatives.</li>
					<li>Rapid development and fielding of materiel solutions to support the Warfighter against threats during operations.</li>
				</ul>
				<h4>
					Kalman and Company, Inc. <small>Systems Engineer and Team Lead<br/>
					Arlington, VA | 2009 - 2011</small>
				</h4>
				<p>Support to the JPEO-CBD HQ, performing portfolio management, lead analyst for the fiscal planning and budget recommendation to Congress, oversight of the Major Defense Acquisition Program Trailboss initiative, and management of a large contractor support team.</p>
				<h4>
					Pearson Public Affairs Group <small>Assistant Project Manager<br/>
					Oklahoma City, OK | 2009</small>
				</h4>
				<p>Engaged target regions in public awareness, issue education and management, coalition building, training constituents to lobby public officials, public policy intelligence gathering, and issue advocacy; translating into the management of grass top campaigns, focusing on federal legislation.</p>
				<h4>
					SPX Filtran <small>Research and Development Engineer<br/>
					Stillwater, OK | 2008 - 2009</small>
				</h4>
				<p>Coordinated test and evaluation efforts with the Research and Development Division, refining test methodologies and identifying samples to meet operational requirements through development of new Design of Experiments and mathematical models.</p>
				<h4>
					BarDyne, Inc. <small>Project Engineer<br/>
					Stillwater, OK | 2006 - 2008</small>
				</h4>
				<p>Served a multi-disciplinary engineering role that included engagement with new and current clients, development of a commercial modeling and simulation program, management of multiple projects and team members, and engineering consultation services.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<h3 class="text-right">Education and Certifications</h3>
				<hr/>
				<h4>
					Oklahoma State University<br/>
					<small>B.S. Aersopace Engineering / B.S. Mechanical Engineer,<br/>
						Mathematics Minor and Business Management focus</small>
				</h4>
				<h4>
					U.S. Army Acquisition Corps<br/>
					<small>Department of the Army: Office of the Assistant Secretary of the Army - Acquisition, Logistics, &amp; Technology<br/>
					Level 3 Systems Engineer</small>
				</h4>
				<h4>Engineer in Training<br/>
					<small>National Council of Examiners for Engineering and Surveying, License 21587</small>
				</h4>
				<h4>Current Good Manufacturing Practices Certified Professional<br/>
					<small>The Center for Professional Innovation and Education, Inc.</small>
				</h4>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<h3 class="text-right">Accomplishments and Achievements</h3>
				<hr/>
				<ul>
					<li><strong>Winner</strong>, Startup Weekend, Baltimore</li>
					<li>Civilan Award, Joint Project Manager for Translational Medical Technologies</li>
					<li>Special Recognition Award, JPEO-CBD</li>
					<li><strong>1st place</strong>, American Institute of Aeronautics and Astronautics Cessna/Raytheon International Design, Build, Fly Competition</li>
					<li>Homecoming Royalty, Oklahoma State University</li>
					<li>Top Twenty Freshman Man, Oklahoma State University</li>
				</ul>
			</div>
		</div>
	</div>
</span>