<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div id="sequence">
                <ul class="sequence-canvas">
                    <li class="animate-in">
                        <div class="info1">
                            <p>Frame 1 information</p>
                        </div>
                    </li>
                    <li>
                        <div class="info2">
                            <p>Frame 2 information</p>
                        </div>
                    </li>
                    <li>
                        <div class="info3">
                            <p>Frame 3 information</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>