<div id="impress">
	<div id="start">
		<p>Creating Stunning Visualizations</p>
		<p>Impress.js</p>
	</div>
	<div id="slide2" data-x"-1200" data-y="0">
		<p>First Slide Moves From Left To Right</p>
		<p>Impress.js</p>
	</div>
</div>

<script>impress().init();</script>