html, body{
	height:97%
}
body{
	padding-top:30px;
}
.center{
	text-align:center;
}

@import "twitter/bootstrap/bootstrap";
@import "twitter/bootstrap/responsive";



#wrap{
	min-height:100%;
	height: auto !important;
	margin:0 0 -30px;
}
#push{
	height:60px;
}
#footer{
	background-color:@grayDark;
	padding-top: 10px;
}

ul.affiliations{
	list-style:none;
	li{
	}
}

ul.social-media{
	list-style:none;
	li{
		display:inline-block;
		a{
			text-decoration:none;
			color:@white;
		}
		a:hover{
			color:@grayLight;
		}
	}
}

.accordion-group{
	border:0px;
}
.accordion-toggle{
	text-align:right;
}