#man-resume{
	h1{
		margin-bottom:0px;
	}
	h3{
		margin-top:10px;
	}
	address{
		margin-top:10px;
		margin-bottom:0px;
	}
	hr{
		margin-top:0px;
		margin-bottom:15px;
	}
	ul{
		li{
			list-style-type:disc;
		}
	}
}